<p>Le menu a bien été appelé. L'inclusion de contrôleur fonctionne donc bien.</p>
<p>A vous de surcharger ce template TWIG dans : app/Resources/AfpaMenuBundle/views/Menu/primary_menu.html.twig</p>
<p>La Variable menu est disponible, elle a été généré par le Controleur <b>AfpaMenuBunde:Menu:displayPrimaryMenu</b> :</p>
{{ dump(menu) }}